<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="" />
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
    />
    <!-- Place favicon.ico in the root directory -->
    {% style "css/screen.css" %}
  </head>
  <body>
    HELLO!
    <section class="navigation">
      <nav class="navbar pure-menu">
        <span class="pure-menu-heading"></span>
        <ul class="pure-menu-list">
          {{title}}
        </ul>
      </nav>
    </section>
    <section class="content">
      <h1>Hello Pure!</h1>
    </section>
  </body>
</html>
